.left {
        float:left;
        left: 0;
        position:fixed;
        height:100vh;
        background: #337ab7;
        display: inline-block;
        white-space: nowrap;
        width: 48px;
        transition: width 1s ;
    }

.left:hover {
        width: 175px;
    }

.item:hover {
        background-color: #5dade2;
        }

.left .glyphicon {
        margin:15px;
        width:20px;
        color:#fff;
    }

.right .glyphicon {
        color:#a9a9a9;
    }
span.glyphicon.glyphicon-refresh{
    font-size:17px;
    vertical-align: middle !important;
    }

.item {
        height:50px;
        overflow:hidden;
        color:#fff;
    }

/*  ** footer ** */
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#f2f3f4;
   text-align: center;
}
